@import 'assets/globalStyles/palette';

.dashboard-container {
  padding: 100px 30px 30px;
  display: grid;
  grid-gap: 30px;
  .date-range {
    display: grid;
    padding: 56px 0px;
    grid-gap: 30px;
    justify-content: center;
    background-color: $lightest;
    .calendar {
    }
    .btn {
      .MuiButton-containedPrimary {
        width: 100%;
        height: 56px;
      }
    }
  }
  .charts {
    background-color: $lightest;

    display: grid;
    grid-gap: 30px;
    .combined-charts {
        display: grid;
    grid-template-columns: 1fr 1fr;
      .pie-chart {

      }
      .bar-chart {

      }
    }
    .table-chart {
        width: 800px;
    display: flex;
    justify-self: center;
    }
  }
}
