@import 'assets/globalStyles/palette';


#root{
    background-color: $darkest;
      height: 100%;
  }
.dashboard-container {
  padding: 30px;
  display: grid;
  grid-gap: 30px;
  .date-range {
    display: flex;
    // justify-content: space-evenly;
    padding: 56px 0px;
    gap: 30px;
    justify-content: center;
    background-color: $lightest;
    .btn {
      .MuiButton-containedPrimary {
        width: 100%;
        height: 56px;
      }
    }
  }
  .charts {
    background-color: $lightest;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    .combined-charts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .pie-chart {
        padding: 16px;
      background-color: $lighter;

        border: solid 2px $dark;
      }
      .bar-chart {
      background-color: $lighter;

        padding: 16px;
        border: solid 2px $dark;
      }
    }
    .table-chart {
    //   width: 100%;
      padding: 16px;
      border: solid 2px $dark;
      background-color: $lighter;
      .table-paper{
          width: 85%;
          margin: 0 auto;
      }
    //   display: flex;
    //   justify-self: center;
    }
  }
}
